<div class="header-base-line align-items-center d-flex justify-content-center">
  <div class="header-base-line-content">
    <h1 style="">Votre <span id="textsvelo" style="border-bottom: 2px solid #F75100;">vélo de course</span> assuré contre <span style="border-bottom: 2px solid #F75100;" id="textsgarantie">la casse</span> </h1>
    <h3>Assurance Valable en tous lieux et sans vétusté</h3>
    <br>
    <a href="#challenge" class="btn btn-orange-lg hvr-float" style="position:relative; right: 5px;">devis gratuit</a>
    <a href="" class="btn btn-white-border-souscrire hvr-float" style="position:relative; left: 5px;">souscrire</a>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="false">
  <div class="carousel-inner" role="listbox">

    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active" style="background-image: url('<%= image_path "header-slide1.jpg" %>')">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('<%= image_path "header-slide2.jpg" %>')">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('<%= image_path "header-slide3.jpg" %>')">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
</div>


<div class="product-wrapper">
 <div class="headline-wrapper d-flex justify-content-center align-items-center" id="challenge">
  <div class="headline">
    <h2>On a forcément un produit pour vous</h2>
    <h3>on peut mettre une petite phrase ici</h3>
  </div>
</div>

<div class="inner">
 <ul class="list-insurance">
   <li>
     <h3>Vélo Classique</h3>
     <h4>Assurance Casse </h4>
     <p>Zéro Vétusté</p>
     <p>4000€ de couverture maximale</p>
     <p>Franchise 10% du sinistre min 100€</p>
     <h6>cotisation mensuelle à partir de</h6>
     <h5>7€</h5>
     <button class="btn btn-orange-short hvr-float">Devis gratuit</button>
   </li>
   <li>
    <h3>Vélo Electrique</h3>
    <h4>Assurance Casse & Vol</h4>
    <p>Zéro Vétusté</p>
    <p>5000€ de couverture maximale</p>
    <p>Franchise fixe 200€</p>
    <h6>cotisation mensuelle à partir de</h6>
    <h5>4€</h5>
    <button class="btn btn-orange-short hvr-float">Devis gratuit</button>
  </li>
</ul>
</div>
</div>


<div  class="concurents-wrapper">
  <div class="headline-wrapper d-flex justify-content-center align-items-center" id="challenge" style="background-color:#f7f7f7 !important">
    <div class="headline">
      <h2>On vous assure mieux que tout le monde !</h2>
      <h3>on peut mettre une petite phrase ici</h3>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-centered">
        <table class="table table-bordered text-center table-concurrent">
          <thead class="thead-inverse">
            <tr>
              <td>Garanties de la police</td>
              <td>Autres Assurances</td>
              <td><img src="<%= image_path "logo-electrique-assurancesvelo.png" %>" alt=""></td>
              <td><img src="<%= image_path "logo-classique-assurancesvelo.png" %>" alt=""></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Vol</td>
              <td class="color-orange"><i class="fa fa-circle-o" aria-hidden="true"></i> limité</td>
              <td class="color-green"><i class="fa fa-check" aria-hidden="true"></i> Oui</td>
              <td class="color-red"><i class="fa fa-times" aria-hidden="true"></i> Non</td>
            </tr>
            <tr>
              <td>Casse du Vélo</td>
              <td class="color-green"><i class="fa fa-check" aria-hidden="true"></i> Oui</td>
              <td class="color-green"><i class="fa fa-check" aria-hidden="true"></i> Oui</td>
              <td class="color-green"><i class="fa fa-check" aria-hidden="true"></i> Oui</td>
            </tr>
            <tr>
              <td>Casse Equipements Cycliste</td>
              <td class="color-red"><i class="fa fa-times" aria-hidden="true"></i> Non</td>
              <td class="color-red"><i class="fa fa-times" aria-hidden="true"></i> Non</td>
              <td class="color-green"><i class="fa fa-check" aria-hidden="true"></i> Oui</td>
            </tr>
            <tr>
              <td>Aucune Vétusté</td>
              <td class="color-red"><i class="fa fa-times" aria-hidden="true"></i> Non</td>
              <td class="color-green"><i class="fa fa-check" aria-hidden="true"></i> Oui</td>
              <td class="color-green"><i class="fa fa-check" aria-hidden="true"></i> Oui</td>
            </tr>
            <tr>
              <td>Compétition</td>
              <td class="color-red"><i class="fa fa-times" aria-hidden="true"></i> Non</td>
              <td class="color-red"><i class="fa fa-times" aria-hidden="true"></i> Non</td>
              <td class="color-green"><i class="fa fa-check" aria-hidden="true"></i> Oui</td>
            </tr>
            <tr>
              <td>Transports</td>
              <td class="color-orange"><i class="fa fa-circle-o" aria-hidden="true"></i> limité</td>
              <td class="color-green"><i class="fa fa-check" aria-hidden="true"></i> Oui</td>
              <td class="color-green"><i class="fa fa-check" aria-hidden="true"></i> Oui</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="faq-wrapper">
  <div class="headline-wrapper-inverse d-flex justify-content-center align-items-center">
    <div class="headline-inverse">
      <h2>FAQ</h2>
      <h3>Une petite question ? voici notre FAQ ;)</h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-centered">
        <h4>Assurances Vélo Classique (hors vélo électrique)</h4>
        <div id="accordion" role="tablist" aria-multiselectable="true">



          <div class="card card-faq">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapseOne">

              <div class="card-header car-header-faq" role="tab" id="headingOne">
                <h5 class="mb-0">
                  Que couvre l’assurance vélo standard ?

                </h5>
              </div>
            </a>
            <div id="collapse1" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <p>Notre assurance couvre uniquement contre <span>la casse</span> en <span>tous lieux</span>, toutes circonstances (compétition, entrainement, loisir)</p>
              </div>
            </div>
          </div>


          <div class="card card-faq">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapseOne">

              <div class="card-header car-header-faq" role="tab" id="headingOne">
                <h5 class="mb-0">
                  Comment fonctionne l’assurance casse ?
                </h5>
              </div>
            </a>
            <div id="collapse2" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <p>Nous fonctionnons par enveloppe de réparations que <span>vous êtes libre de choisir</span>. Nos enveloppes vont de 1000, 2000, 3000, <span>4000 euros</span> </p>
              </div>
            </div>
          </div>


          <div class="card card-faq">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapseOne">

              <div class="card-header car-header-faq" role="tab" id="headingOne">
                <h5 class="mb-0">
                  Assurez-vous contre le vol ?
                </h5>
              </div>
            </a>
            <div id="collapse3" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <p><span>Le vol n’est pas assuré pour les vélos non électriques</span>. Ce produit est destiné aux pratiquants réguliers et passionnés de cycle. Généralement lorsque le vélo n’est pas utilisé, il est rangé à l’adresse de son propriétaire. Dans l’immense majorité des cas, la garantie vol est donc assurée par le contrat habitation. Ce point est naturellement validé auprès de son assureur habitation</p>
              </div>
            </div>
          </div>


          <div class="card card-faq">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapseOne">

              <div class="card-header car-header-faq" role="tab" id="headingOne">
                <h5 class="mb-0">
                  Mes équipements cyclistes sont ils couverts (casque, lunettes chaussures, compteur)?
                </h5>
              </div>
            </a>
            <div id="collapse4" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <p>Chaque assurances pour votre vélo comporte une <span>garantie supplémentaire</span> pour vos accessoires et équipements. Cette garantie équipement est <span>offerte</span> en plus de l'assurance pour votre vélo. <br>
                  Nous couvrons votre <span>casque</span>, <span>vos lunettes</span>, vos <span>chaussures</span> et votre <span>compteur</span> à hauteur de <span>600€</span> en cas de casse. <br><br>
                  Cette garantie équipement est repartie de la manière suivante : <br><br>
                  - 300€ pour votre casque, lunettes, chaussures <br>
                - 300€ pour votre compteur.</p>
              </div>
            </div>
          </div>

          <div class="card card-faq">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapseOne">

              <div class="card-header car-header-faq" role="tab" id="headingOne">
                <h5 class="mb-0">
                  Assurez-vous tous les vélos ?
                </h5>
              </div>
            </a>
            <div id="collapse5" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <p>Nous assurons <span>tout type de vélo</span> standard (vélo de course, VTT, BMX, Fixie, Piste, Ville). Votre vélo doit avoir <span>moins de 3 ans au moment de la souscription</span></p>
              </div>
            </div>
          </div>


          <div class="card card-faq">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapseOne">

              <div class="card-header car-header-faq" role="tab" id="headingOne">
                <h5 class="mb-0">
                  Appliquez-vous de la vétusté ?
                </h5>
              </div>
            </a>
            <div id="collapse6" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <p>Nous assurons contre la casse en tous lieu et toutes circonstances <span>sans vétusté</span>. Vous êtes donc <span>remboursé à hauteur du neuf</span> sur le marché.</p>
              </div>
            </div>
          </div>



          <div class="card card-faq">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapseOne">

              <div class="card-header car-header-faq" role="tab" id="headingOne">
                <h5 class="mb-0">
                  Quelles sont les franchises de l’assurances ?
                </h5>
              </div>
            </a>
            <div id="collapse7" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <p>Nous appliquons une franchise de <span>10% de la valeur du sinistre</span> avec un <span>minimum de 100€</span>.
                  Pour les équipements, nous appliquons également une franchise correspandant à <span>10% de la valeur du matériel sinistré</span> avec un <span>minimum de 30€</span>.</p>

                </div>
              </div>
            </div>

            <div class="card card-faq">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapseOne">

                <div class="card-header car-header-faq" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    Votre assurance prends-elle en charge la main d’œuvre pour les réparations ?
                  </h5>
                </div>
              </a>
              <div id="collapse8" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                  <p>Nous pouvons prendre en charge la main d’œuvre pour la remise en état de votre vélo à hauteur de <span>45€TTC/h</span> avec un <span>maximum de 3h</span>.</p>
                </div>
              </div>
            </div>

            <div class="card card-faq">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapseOne">

                <div class="card-header car-header-faq" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    Mon vélo est-il couvert dans les transports ?
                  </h5>
                </div>
              </a>
              <div id="collapse9" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                 <p>Nous couvrons votre vélo contre la casse dans <span>tous types de transports</span> (véhicules, portes-vélos, aérien, maritimes)</p>
               </div>
             </div>
           </div>

           <div class="card card-faq">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapseOne">

              <div class="card-header car-header-faq" role="tab" id="headingOne">
                <h5 class="mb-0">
                  Je pars à l’étranger avec mon vélo, suis-je couvert ?
                </h5>
              </div>
            </a>
            <div id="collapse10" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
               <p>Votre vélo est <span>couvert partout dans le monde</span>, il vous suffit d’être résident français pour souscrire à notre assurance.</p>
             </div>
           </div>
         </div>

         <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapseOne">

            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                J’ai une deuxième paire de roue pour mon vélo, puis-je l’assurer ?
              </h5>
            </div>
          </a>
          <div id="collapse11" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Nous vous proposons d’assurer votre <span>deuxième paire</span> de roue grâce à une option qui vous couvre à hauteur de <span>1000€</span> pour 7€/mois.</p>
            </div>
          </div>
        </div>


        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapseOne">

            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Mon vélo a plus de 3 ans, puis-je l’assurer ?
              </h5>
            </div>
          </a>
          <div id="collapse12" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p><span>Non</span>. Nous n’assurons pas les vélos de plus de 3ans</p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="true" aria-controls="collapseOne">

            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Indemnisez-vous les pièces frottées lors d'une chute?
              </h5>
            </div>
          </a>
          <div id="collapse13" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p><span>Nous n'indemnisons pas les pièces frottées</span>. Le préjudice esthétique n’est donc pas couvert. Seule la casse du matériel sera prise en compte.</p>
            </div>
          </div>
        </div>


        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="true" aria-controls="collapseOne">

            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Combien de sinistres puis-je déclarer par an ?
              </h5>
            </div>
          </a>
          <div id="collapse14" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Nous prenons en charge <span>un sinistre par an</span>, notre assurance est donc avantageuse pour les grosses casses.</p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="true" aria-controls="collapseOne">

            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                J’ai eu un accident avec un tiers, comment ça se passe ?
              </h5>
            </div>
          </a>
          <div id="collapse15" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Dans ce cas, la responsabilité civile de la personne en tort interviendra pour les dommages corporels, de notre côté <span>nous prendrons en charge votre vélo</span> ainsi que les réparations <span>que vous soyez en tort ou non</span>.</p>
            </div>
          </div>
        </div>
        <br>
        <h4>Assurances Vélo Electrique</h4>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="true" aria-controls="collapseOne">

            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Que couvre l’assurance vélo électriques ?
              </h5>
            </div>
          </a>
          <div id="collapse16" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Notre assurance couvre contre la <span>casse</span> et le <span>vol</span> en <span>tous lieux</span>, <span>toutes circonstances</span>. </p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Combien coute votre assurance VAE ?
              </h5>
            </div>
          </a>
          <div id="collapse17" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Le prix de la cotisation est de <span>6% de la valeur d’achat de votre vélo</span> (valeur présente sur facture) </p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Appliquez-vous de la vétusté ?
              </h5>
            </div>
          </a>
          <div id="collapse18" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Notre assurance vélo électrique n'applique <span>pas de vétusté</span> en cas de casse et le vol en tous lieux, toutes circonstances. Vous serez <span>indemniser au prix du neuf</span>.</p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Quelles sont les franchises de l’assurances ?
              </h5>
            </div>
          </a>
          <div id="collapse19" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Le produit assurance vélo électrique applique une <span>franchise fixe de 200€</span> pour tout sinistre casse ou vol. </p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                les équipements anexes au vélo sont-ils couverts (bagagerie, casque ...) ?
              </h5>
            </div>
          </a>
          <div id="collapse20" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Nous assurons seulement votre vélo, les <span>équipements anexes</span> ne sont pas pris en compte.</p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Avez-vous une restriction horaire pour le vol ?
              </h5>
            </div>
          </a>
          <div id="collapse21" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Nous assurons votre vélo contre le vol à <span>toute heure</span>, il vous suffit de stationner votre vélo avec votre antivol certifié et de l’accrocher à un point fixe.</p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Dois-je retirer ma batterie lorsque je stationne mon vélo à l’extérieur ?
              </h5>
            </div>
          </a>
          <div id="collapse22" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p><span>Nous ne demandons pas le retrait de la batterie</span> lorsque votre vélo est stationné à l’extérieur, il faut cependant que celle-ci <span>soit bien fixée</span>  et fermée avec la serrure de sécurité. Nous vous conseillons également de ne pas la laisser lors des longs stationnements. </p>
            </div>
          </div>
        </div>


        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Quels sont les antivols certifiés par votre assurance ?
              </h5>
            </div>
          </a>
          <div id="collapse23" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Nous vous demandons de posséder un <span>antivol certifié </span> rel="nofollow"au niveau de sécurité <span>FUB 2 roues</span> (<span><a style="color:#F75100; text-decoration: none;" href="https://www.bicycode.org/tests-antivols.rub-21/tests-antivols-fub.rub-23/" rel="nofollow">site de référence des antivols FUB</a></span>) ou <span>SRA</span> afin d’être indemnisé en cas de vol. Vous pouvez retrouver cette liste sur notre page antivol. </p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                On m’a volé mon vélo que dois-je faire ?
              </h5>
            </div>
          </a>
          <div id="collapse24" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>En cas de vol, vous devez nous fournir <span>le procès-verbal</span> stipulant toutes les caractéristiques de votre vol. L’assureur se garde le droit de demander toutes pièces justificatives faisant foi pour <span>preuve d’effraction</span>. </p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse25" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Couvrez-vous le vol par agression ?
              </h5>
            </div>
          </a>
          <div id="collapse25" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Nous vous <span>couvrons contre le vol par agression</span>. </p>
            </div>
          </div>
        </div>


        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Assurez-vous tous les types de vélos électriques?
              </h5>
            </div>
          </a>
          <div id="collapse26" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Nous assurons tous les VAE dont la <span>vitesse est inférieur ou égale à 25km/h</span> que ce soit un VTT, vélo de route, vélo de ville. Nous ne <span>prenons pas en charge les speedbike</span>.</p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse27" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                mon vélo est couvert à l’étranger ?
              </h5>
            </div>
          </a>
          <div id="collapse27" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Nous ne couvrons votre vélo <span>uniquement en France métropolitaine</span>. L’assurance n'est pas applicable à l’étranger.</p>
            </div>
          </div>
        </div>


        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse28" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                En cas d’accident et de dommages corporels, indemnisez-vous les frais d’hospitalisations ?
              </h5>
            </div>
          </a>
          <div id="collapse28" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Notre assurance couvre <span>exclusivement votre vélo</span>. En cas d’hospitalisation suite à un accident, il faudra vous tourner vers votre assureur ou mutuelle.</p>
            </div>
          </div>
        </div>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse29" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                J’ai eu un accident avec un tiers, comment ça se passe ?
              </h5>
            </div>
          </a>
          <div id="collapse29" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Dans ce cas, la responsabilité civile de la personne en tort interviendra pour les dommages corporels, de notre côté <span>nous prendrons en charge votre vélo</span> ainsi que les réparations <span>que vous soyez en tort ou non</span>. </p>
            </div>
          </div>
        </div>

        <br>
        <h4>Souscription</h4>

        <div class="card card-faq">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse30" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header car-header-faq" role="tab" id="headingOne">
              <h5 class="mb-0">
                Comment puis-je adhérer à votre assurance ?

              </h5>
            </div>
          </a>
          <div id="collapse30" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Vous pouvez souscrire <span>directement en ligne</span> depuis notre interface de paiements sécurisés, onglet souscrire. (Cela ne prend que 2min) <br><br>
                Vous pouvez également le faire au <span>téléphone</span> avec un de nos commerciaux au <span>01 47 71 74 79</span>. <br><br>
                Vous pouvez également le faire par <span>papier</span> en nous demandant un contrat vierge par mail et à nous retourner par voie postale.</p>            </div>
              </div>
            </div>

            <div class="card card-faq">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse31" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header car-header-faq" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    La prise d’effet est-elle immédiate ?

                  </h5>
                </div>
              </a>
              <div id="collapse31" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                  <p>Une fois souscrit, <span>la prise d’effet de l’assurance est immédiate</span>. Une note de couverture vous couvre pendant 48h le temps pour vous de nous retourner les justificatifs nécessaires à l’élaboration de votre contrat. </p>
                </div>
              </div>
            </div>

            <div class="card card-faq">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse32" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header car-header-faq" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    Comment effectuer le paiement ?
                  </h5>
                </div>
              </a>
              <div id="collapse32" class="collapse card-block-faq" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                  <p>
                   3 modes de paiements sont possibles : <br><br>
                   - <span>Carte Bancaire</span> pour un paiement annuel depuis notre onglet souscrire ou par téléphone avec nos commerciaux. <br>
                   - <span>Virements Mensuel</span>, pour un échelonnage de vos paiements sur 12 mois sans frais. Depuis notre onglet souscrire ou par téléphone. <br>
                   - <span>Par chèque</span>, lorsque vous choisissez l’adhésion papier.
                 </p>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>


<div class="headline-wrapper d-flex justify-content-center align-items-center" id="challenge" style="background-color:#fcfcfc !important">
  <div class="headline">
    <h2>On parle de nous !</h2>
    <h3>on peut mettre une petite phrase ici</h3>
  </div>
</div>

<div class="wrapper-press-card">
 <div class="container">
   <div class="row justify-content-around">
     <div class="col-md-4 col-sm-6">
       <div class="press-card">
         <div class="press-card-block d-flex align-items-center">
           <p>« Les Assurances Vélo propose une assurance casse du matériel en tous lieux et sans vétusté.» </p>
         </div>
         <img class="img-responsive" src="<%= image_path "presse_01.jpg"%>" alt="Card image cap">
       </div>
     </div>
     <div class="col-md-4 col-sm-6">
       <div class="press-card">
         <div class="press-card-block d-flex align-items-center">
           <p>« Les Assurances Vélo propose une assurance casse du matériel en tous lieux et sans vétusté.» </p>
         </div>
         <img class="img-responsive" src="<%= image_path "presse_01.jpg"%>" alt="Card image cap">
       </div>
     </div>
     <div class="col-md-4 col-sm-6">
       <div class="press-card">
         <div class="press-card-block d-flex align-items-center">
           <p>« Les Assurances Vélo propose une assurance casse du matériel en tous lieux et sans vétusté.» </p>
         </div>
         <img class="img-responsive" src="<%= image_path "presse_01.jpg"%>" alt="Card image cap">
       </div>
     </div>
   </div>
 </div>
</div>




<div class="form-devis-wrapper">
  <div class="headline-devis-wrapper-inverse d-flex justify-content-center align-items-center" style="padding-bottom:0em!important;">
    <div class="headline-devis-inverse">
      <h2>Demandez un devis</h2>
    </div>
  </div>
  <div class="container" style="padding-left:8em; padding-right:8em;">
    <form action="">
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="">Nom</label>
          <input class="form-control input-form" type="text" placeholder="Sagan" id="example-text-input">
        </div>
        <div class="col-sm-6">
          <label for="">Prénom</label>
          <input class="form-control input-form" type="text" placeholder="Peter" id="example-text-input">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="">Email</label>
          <input class="form-control input-form" type="text" placeholder="peter.sagan@specialized.com" id="example-text-input">
        </div>
        <div class="col-sm-6">
          <label for="">Téléphone</label>
          <input class="form-control input-form" type="text" placeholder="0607080910" id="example-text-input">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="">Prix Du vélo</label>
          <input class="form-control input-form" type="text" placeholder="2500" id="example-text-input">
        </div>
        <div class="col-sm-6">
          <label for="">Année du vélo</label>
          <input class="form-control input-form" type="text" placeholder="2017" id="example-text-input">
        </div>
      </div>

      <div class="form-group row justify-content-around" style="padding-top:1em">
        <button class="btn btn-orange-lg hvr-float pulse" type="submit" style="border: solid 2px white;">Obtenir un devis</button>
      </div>

    </form>
  </div>

</div>


